#codelite
.clang/
.codelite/
Debug/

# Visual Studio
*.sdf
*.sln
*.user
*.suo
*.opensdf
*.opendb
*.db
Debug/
ipch/
x64/
.vs/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
